body {
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px whitesmoke;
  background-image: url("../images/sand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-name, .card-contact {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
}
.quote {
  font-style: italic;
}
.container {
  width: 95%;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px;
}
p, li, a {
  font-size: 25px;
  color: black;
}
p.postal {
  font-size: 1.1em;
}
span.italic {
  font-style: italic;
}
.card-link-text {
  color: black
}
div.card, ul.collection {
  border-radius: 15px;
}
.card-content {
  margin-left: auto;
  margin-right: auto;
}
div.card-links {
  text-align: center;
  font-size: 2em;
  border-radius: 15px;
}
footer.footer.has-text-centered {
  position: relative;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 135px;
  color: black;
  border-radius: 10px;
}
img.headshot {
  display: block;
  margin: auto;
  border-radius: 15px;
}
